.book {
    height: 9cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 1.5cm;
    text-decoration: none;
    z-index: 2;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.book:hover {

    text-decoration: none;
}

.booktitle {
 font-size: 20pt;
text-decoration: none;
color: black;
}

.booktitle:hover {
    text-decoration: none;


}