.headerselectors {
color: white;
text-decoration: none;
font-size: 1.7vw;
font-weight: 400;
}

.headerselectors:hover {
color: rgba(238, 195, 103, 0.836);
text-decoration: none;
font-size: 1.71vw;
font-weight: 400;
overflow: hidden;
}



.headerrow {

    height: 2cm;
    background-color: rgb(35, 39, 43);
}