.pagetitle {
font-size: 24pt;
font-weight: bold;
text-align: center;
}

.subtitle {
    color: black;

    font-size: 2.5vw;
    font-weight: 500;
text-align: center;
}

.aboutme {
text-align: center;
}

.favbook {
text-align: center;
}

.books {
text-align: center;
height: 10cm;
margin-left: 1cm;
margin-right: 1cm;


}

.search {
text-align: center;

}

.bookreadingrow {

    height: 6cm;
}


.currentlyreadingheader {

    height: 2cm;

}





.currentlyReadingForm {
    background-color: rgba(222, 173, 133, .8);
}

.currentlyReadingForm:hover {

    background-color: rgba(222, 173, 133, .85);
}

.sidebar {
    background-image: url("./assets/Books.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.transparent {

    background-color: rgba(243, 222, 241, 0.1);
}