.pagetitle {
font-size: 24pt;
font-weight: bold;
text-align: center;
}

.subtitle {
font-size: 20pt;
font-weight: bold;
text-align: center;
}

.aboutme {
text-align: center;
}

.favbook {
text-align: center;
}

.books {
text-align: center;
height: 8cm;
margin-left: 1cm;
margin-right: 1cm;
align-content: center;
}

.search {
text-align: center;

}