
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
  }

h1 {
    text-align: center;
}

.button-center {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-content {
    margin-top: 4cm;
}

#trendingQoute {
    text-align: center;
}

.jumbotron {
    background-color: rgba(222, 173, 133, .8);
    border-radius: 10pt;
}

.jumbotron:hover {
    background-color: rgba(222, 173, 133, .85);
    border-radius: 10pt;
}

.trendingbooks {
    text-align: center;
    padding: 0cm;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10pt;

}

.searchrow {
align-items: center;
padding-bottom: 0%;
margin: 0;
}

.btn {
    height: 1.2cm;
}

.btncol {
    text-align: center;
}

.form-group {
    margin-bottom: 0;
    padding-bottom: .62cm;
}

.searchPage {
    background-image: url("./assets/Books.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.opusbackground {
    background-color: rgba(222, 173, 133, .8);
    margin-bottom: 1cm;
    padding-top: .4cm;
    border-radius: 10pt;
}

.opusbackground:hover {
    background-color: rgba(222, 173, 133, .85);
    margin-bottom: 1cm;
    padding-top: .4cm;
    border-radius: 10pt;
}

.opusTitle {
    font-size: 56pt;
    color: black;
}

#hideit {
 display: none;
}

