
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1 {
    text-align: center;
}

.button-center {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-content {
    margin-top: 4cm;

}

#trendingQoute {
    text-align: center;
}

.jumbotron {
    
}


.searchrow {
align-items: center;
padding-bottom: 0%;
margin: 0;



}

.btn {
    height: 1.2cm;
}

.btncol {
    text-align: center;
}

.form-group {
    margin-bottom: 0;
    padding-bottom: .62cm;
}